div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  /*background-color: #f0f0f0;*/
  padding: 0.5rem 3rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 500;
  color: black;
}

div a:hover {
  background-color: var(--yellow);
  color: white;
}
