<header class="header">
  <a href="/" class="logo">Merry-Meal ☺<span class="yellow">Food Corner</span></a>

  <nav class="navbar">
    <a href="#home">Home</a>
    <a href="#services">Services</a>
    <a href="#about">About Us</a>
    <a href="#contact">Contact Us</a>
    <a class="btn" routerLink="/food-menu">Make an Order</a>
    <!--    <a routerLink="/cart-page" class="btn">-->
    <!--      Cart <span>{{cartQuantity}}</span>-->
    <!--    </a>-->
  </nav>

  <!-- Hamburger -->
  <!--  <div class="hamburger">-->
  <!--    <img src="./images/grid-outline.svg" alt="" />-->
  <!--  </div>-->

  <!--  <div class="container">-->
  <!--    <a routerLink="/" class="logo">Merry-Meal ☺ Food Corner</a>-->
  <!--    <nav>-->
  <!--      <ul>-->
  <!--        <li>-->
  <!--          <a routerLink="/login">Login</a>-->
  <!--        </li>-->
  <!--        <li class="menu-container">-->
  <!--          <a routerLink="/dashboard">More</a>-->
  <!--          <div class="menu">-->
  <!--            <a routerLink="/profile">Profile</a>-->
  <!--            <a routerLink="/orders">Orders</a>-->
  <!--            <a>Logout</a>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li>-->
  <!--          <a routerLink="/cart-page">-->
  <!--            Cart <span>{{cartQuantity}}</span>-->
  <!--          </a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->
</header>

